{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

{% block main-content %}
<main id="main" class="main  w3-animate-opacity" >

    <div class="pagetitle">
      <h1>Profile</h1>
      
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row ">
        <div class="col-xl-4" >

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                          
              {% if student.profile_image %}
                <img src="{{ student.profile_image.url }}" class="rounded-circle" alt="Profile Image">
                {% else %}
                <img src="{% static 'assets/img/user.png' %}" class="rounded-circle" alt="Profile Image">
                {% endif %}
              <h2>{{ user.username }}</h2>
              <h3>{{ user.get_role_display }}</h3>
              <div class="social-links mt-2">
                
                <a href="#" class="twitter"><i class="bi bi-geo-alt-fill"></i></a>
                <a href="#" class="mail"><i class="bi bi-envelope-fill"></i></a>
                <a href="#" class="github"><i class="bi bi-github"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li> 

              </ul>
              <div class="tab-content pt-2">
          
                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">About</h5>
                  <p class="small fst-italic">{{ student.about }}</p>

                  <h5 class="card-title">Profile Details</h5>
                    {% comment %} <div class="row mb-3">
                        <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                        <div class="col-md-8 col-lg-9">
                            <img src="{{ student.profile_image.url }}" alt="Profile Image">
                        </div>
                    </div> {% endcomment %}


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8"> {{ student.first_name }} {{ student.last_name }}</div>
                  </div>
                  
                  <div class="row"> 
                    <div class="col-lg-3 col-md-4 label">Year</div>
                    <div class="col-lg-9 col-md-8">{{ student.year }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Degree/Department</div>
                    <div class="col-lg-9 col-md-8"> {{ student.degree_department }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Date Of Birth</div>
                    <div class="col-lg-9 col-md-8">{{ student.date_of_birth }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Gender</div>
                    <div class="col-lg-9 col-md-8"> {{ student.sex }}</div>
                  </div>


                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ student.email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8"> {{ student.phone }}</div>
                  </div>
                  
                  
                  {% if student.linkedin_link %}
                  <div class="row">
                      <div class="col-lg-3 col-md-4 label">LinkedIn Profile</div>
                      <div class="col-lg-9 col-md-8">
                          <a href="{{ student.linkedin_link }}" target="_blank">{{ student.linkedin_link }}</a>
                      </div>
                  </div>
                  {% endif %}

                  <!-- Check if GitHub link is provided -->
                  {% if student.github_link %}
                  <div class="row">
                      <div class="col-lg-3 col-md-4 label">GitHub Profile</div>
                      <div class="col-lg-9 col-md-8">
                          <a href="{{ student.github_link }}" target="_blank">{{ student.github_link }}</a>
                      </div>
                  </div>
                  {% endif %}

                  <!-- Check if website link is provided -->
                  {% if student.website_link %}
                  <div class="row">
                      <div class="col-lg-3 col-md-4 label">Website</div>
                      <div class="col-lg-9 col-md-8">
                          <a href="{{ student.website_link }}" target="_blank">{{ student.website_link }}</a>
                      </div>
                  </div>
                  {% endif %}
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                  <form method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      
                      <div class="row mb-3">
                          <label for="profile_image" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                          <div class="col-md-8 col-lg-9">
                              <input type="file" name="profile_image" class="form-control-file" id="profile_image" accept="image/*">
                          </div>
                        </div>

                      <div class="row mb-3">
                          <label for="first_name" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                          <div class="col-md-8 col-lg-9">
                              <input type="text" name="first_name" class="form-control" id="first_name" value="{{ student.first_name }}">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                          <div class="col-md-8 col-lg-9">
                              <input type="text" name="last_name" class="form-control" id="last_name" value="{{ student.last_name }}">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="degree_department" class="col-md-4 col-lg-3 col-form-label">Degree Department</label>
                          <div class="col-md-8 col-lg-9">
                              <select name="degree_department" class="form-control" id="degree_department">
                                  {% for choice in form.fields.degree_department.choices %}
                                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="sex" class="col-md-4 col-lg-3 col-form-label">Gender</label>
                          <div class="col-md-8 col-lg-9">
                              <select name="sex" class="form-control" id="sex">
                                  {% for choice in form.fields.sex.choices %}
                                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="year" class="col-md-4 col-lg-3 col-form-label">Year</label>
                          <div class="col-md-8 col-lg-9">
                              <select name="year" class="form-control" id="year">
                                  {% for choice in form.fields.year.choices %}
                                      <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                                  {% endfor %}
                              </select>
                          </div>
                      </div> 

                      <div class="row mb-3">
                          <label for="id_date_of_birth" class="col-md-4 col-lg-3 col-form-label">Date of Birth</label>
                          <div class="col-md-8 col-lg-9">
                              <input type="date" name="date_of_birth" class="form-control" id="id_date_of_birth" value="{{ student.date_of_birth }}">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                          <div class="col-md-8 col-lg-9">
                              <input type="text" name="phone" class="form-control" id="phone" value="{{ student.phone }}">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                          <div class="col-md-8 col-lg-9">
                              <input type="email" name="email" class="form-control" id="email" value="{{ student.email }}">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="id_linkedin_link" class="col-md-4 col-lg-3 col-form-label">LinkedIn Profile</label>
                          <div class="col-md-8 col-lg-9">
                              <input type="text" name="linkedin_link" class="form-control" id="id_linkedin_link" value="{{ student.linkedin_link }}">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="id_github_link" class="col-md-4 col-lg-3 col-form-label">GitHub Profile</label>
                          <div class="col-md-8 col-lg-9">
                              <input type="text" name="github_link" class="form-control" id="id_github_link" value="{{ student.github_link }}">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="id_website_link" class="col-md-4 col-lg-3 col-form-label">Website</label>
                          <div class="col-md-8 col-lg-9">
                              <input type="text" name="website_link" class="form-control" id="id_website_link" value="{{ student.website_link }}">
                          </div>
                      </div>

                      <div class="row mb-3">
                          <label for="about" class="col-md-4 col-lg-3 col-form-label">About</label>
                          <div class="col-md-8 col-lg-9">
                              <textarea name="about" class="form-control" id="about" rows="4">{{ student.about }}</textarea>
                          </div>
                      </div>

                      <div class="text-center">
                          <button type="submit" class="btn btn-primary">Save Changes</button>
                      </div>
                  </form> 
                </div> 

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
</main>
{% endblock main-content %}